// Your variable overrides
// see https://getbootstrap.com/docs/4.2/getting-started/theming/
$body-bg: rgb(247, 246, 236);
$body-color: rgb(31, 25, 17);
$theme-colors: (
  "primary": #6a81ce,
  "danger": #ff4136,
  "secondary":rgba(224, 224, 224, 0.445)
);
$enable-gradients: true;
$enable-transitions: true;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
